<h1>Editing store</h1>
<%= link_to "logout " , vendorsignout_path ,  method: "delete" , class: "btn btn-small btn-warning" %> 

<%= render 'form' %>

<%= link_to 'Show', @store %> |
<%= link_to 'Back', stores_path %>
